@model List<Question_Right_Answer>


@if (TempData["Message"] != null)
{
	<div class="alert alert-success">
		@TempData["Message"]
	</div>
}
<div class="container">
	<div class="d-flex justify-content-lg-between">
			<h1>
				All RightAnswer
			</h1>
		<a href="/QuestionRightAnswer/Add" type="button" class="btn btn-dark ">ADD</a>
	</div>
	

	<table class="table table-light table-hover">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Qustion</th>

			<th>Actions</th>
		</thead>
		<tbody>
			@foreach (var right in Model)
			{
				<tr>
					<td>@right.Id</td>
					<td>@right.Right_Answer</td>
					<td>

						@(right.Question != null ? $"{right.Question_Id} " : "No ques Assigned")
					</td>

					<td>
						<a href="/QuestionRightAnswer/edit/@right.Id" class="btn btn-secondary"><i class="bi bi-pencil-fill"></i></a>


						<a href="/QuestionRightAnswer/Delete/@right.Id"
						   class="btn btn-danger"
						   onclick="return confirm('Are you sure you want to delete this Question?');">
							<i class="bi bi-trash"></i>
						</a>

						<a href="/QuestionRightAnswer//@right.Id"
						   class="btn btn-primary"
						   onclick="return confirm('Are you sure you want to delete this Question?');">
							<i class="bi bi-eye"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>



	<div />
