@model List<Course>


@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}


<div class="container">
    <h1>
        All Cources
    </h1>
    <a href="/Cource/Create/" class="btn btn-secondary">Create Cource</a>


    <table class="table table-light table-hover">
        <thead>
        <th>#</th>
        <th>Name</th>
        <th>Hours</th>
        <th>Actions</th>
        </thead>

        <tbody>
            @foreach (var cource in Model)
            {
                <tr>
                    <td>@cource.Id</td>
                    <td>@cource.Name</td>
                    <td>@cource.Hours</td>
                    
                    <td>
                        <a href="/Cource/Edit/@cource.Id" class="btn btn-secondary">Edit</a>
                        <a href="/Cource/Delete/@cource.Id"
                           class="btn btn-danger"
                           onclick="return confirm('Are you sure you want to delete this Cource?');">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


