@model Exam_MVC_App.Models.Question 


@if (Model != null)
{


    ViewData["Title"] = "Edit Questions";

    <h1>Edit Question</h1>
    <form method="POST" action="/Questions/Update/@Model.Id">
        <input type="hidden" name="_method" value="PUT" />
        <div class="form-group">
            <label asp-for="Name">Qusetion Name</label>
            <input asp-for="Name" value="@Model.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Type_Multi_Single">QusetionAnswerOptions</label>


            <select  asp-for="Type_Multi_Single" class="form-control" >
                <option value="multi">
                   multi 
                </option>
                 <option value="single">
                   single 
                </option>
               </select/>
        </div> 


            <div class="form-group">
            <label asp-for="Type">Qusetion Type</label>
        <select  asp-for="Type"  class="form-control"  >
                <option value="MCQ">
                   MCQ 
                </option>
                 <option value="  True Or False 
">
                   True Or False 
                </option>
               </select/>        </div>

        
        <div class="form-group">
            <label asp-for="Type_Difficult">Type Of Defficult</label>


              <select  asp-for="Type_Difficult"  class="form-control" selected ="@Model.Type_Difficult" >
                <option value="Easy">
                   Easy 
                </option>
                   <option value="Normal">

                  Normal 
                </option>
                 <option value="Hard">

                  Hard 
                </option>
               </select/> 
   

        </div>
        
             <div class="form-group">
            <label asp-for="Mark">mark</label>
            <input asp-for="Mark" value="@Model.Mark" class="form-control" />
        </div>
        
    
                <div class="form-group">
            <label asp-for="Course_Id">Course</label>

                        <input asp-for="Course_Id" value="@Model.Course" class="form-control" />

        </div>


        <br />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

}
else
{
    <h1>Branch not found</h1>
}