@model Branch


<h1>Create Branch</h1>

<form method="POST" action="/Branch/CreateNewBranch">
    <div class="form-horizontal">
        <h4>Branch</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
                <label asp-for="Mng_Id">Manager</label>
                <select asp-for="Mng_Id" class="form-control">
                @if (ViewBag.Managers != null)
                {
                    @foreach (var manager in ViewBag.Managers)
                    {
                        <option value="@manager.Id" selected="@(manager.Id == Model?.Mng_Id ? "selected" : null)">
                            @manager.Fname @manager.Lname
                        </option>
                    }
                }
                </select>
        </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>
